tunnel: {{ cloudflare_tunnel_id }}
credentials-file: /etc/cloudflared/{{ cloudflare_tunnel_id }}.json
originRequest: # Top-level configuration
  connectTimeout: 30s

ingress:
#{% for key in hms_docker_container_map %}
#{#- Check if hms_docker_container_map[key].cloudflare_subdomain_name is defined  #}
#  {% if 'cloudflare_subdomain_name' in hms_docker_container_map[key].keys() and 
#      hms_docker_container_map[key].cloudflare_subdomain_name != '' %}
#  - hostname: {{ hms_docker_container_map[key].cloudflare_subdomain_name }}.{{ cloudflare_tunnel_name }}
#    service: http://{{ key }}:{{ hms_docker_container_map[key].port }}
#  {% endif %}
#{% endfor %}
  - hotname: nginx.{{ cloudflare_tunnel_name }}
    service: http://nginx:80
  - service: http_status:404

{# {% for service in hms_docker_container_map %}
  {% if service.cloudflare_subdomain_name != '' %}
  - hostname: {{ service.cloudflare_subdomain_name }}.{{ cloudflare_tunnel_name }}
    service: http://plex:32400
  {% endif %}
{% endfor %} #}
